<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="vi  ewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">


    <title>LearnHacks</title>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/8a02b9f577.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
    <script async id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>


<body>


<div class="container">


    <div class="card">
        <h5 class="card-header">Enter you Question and Options</h5>


        <div class="card-body">



            <form action="#" method="post" th:action="@{/getClosestPharmacy}" th:object="${location}">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">latitude</span>
                        </div>
                        <textarea aria-describedby="basic-addon3" class="form-control" id="latitude" name="latitude"
                                  rows="1" type="text"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >longitude</span>
                        </div>
                        <textarea aria-describedby="basic-addon3" class="form-control" id="longitude" name="longitude"
                                  rows="1" type="text"></textarea>
                    </div>

                    <div>
                        <p>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </p>
                    </div>
                </div>
            </form>

        </div>
        <div class="card-body">

            <p>
                <a class="btn btn-primary" th:href="@{/getAllPharmacies}" type="submit">View all Pharmacies</a>
            </p>
        </div>


    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}" type="text/javascript"></script>




</body>

</html>